@import "adaptive property.scss";

.main {
    &__item {
        @include adaptiv-value('margin-bottom', 70, 30);
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;

        &:nth-child(odd) {
            flex-direction: row;
            text-align: right;
        }
        &:nth-child(even) {
            flex-direction: row-reverse;
            text-align: left;
        }

        @media screen and (max-width: 1145px) {
            text-align: center !important;
            
        }

        &._anim-item {
            overflow: hidden;
            position: relative;
            @include adaptiv-value('top', 100, 50);
            opacity: 0;
            transition: opacity .3s linear,
                        top .3s ease-in-out;

        }
        &._anim-active {
            top: 0;
            opacity: 1;
        }
    }
    &__item:nth-child(odd) &__number {
        @include adaptiv-value('margin-right', 50, 10);
    }
    &__item:nth-child(even) &__number {
        @include adaptiv-value('margin-left', 50, 10);
    }

    &__number {
        font-size: 8rem;
        font-family: 'Syne Mono', monospace;
        opacity: .5;

        &._yellow {
            color: #FFBE08;
        }
        &._red {
            color: #FF0C0C;
        }
        &._blue {
            color: #2E51E5;
        }
        &._green {
            color: #2EE59D;
        }
        &._purple {
            color: #7700FF;
        }
        &._orange {
            color: #FF4200;
        }
        &._pink {
            color: #E52EE3;
        }
    }

    &__text {
        font-size: 1.5rem;
        font-family: 'Raleway', sans-serif;
        line-height: initial;
        flex: 1 1 85%;
    }

    &__download {
        text-align: center;
        @include adaptiv-value('margin-bottom', 70, 30);

        a {
            color: #101828;
            @include adaptiv-value('padding-left', 35, 15);
            @include adaptiv-value('padding-right', 35, 15);
            @include adaptiv-value('padding-top', 12, 5);
            @include adaptiv-value('padding-bottom', 12, 5);
            background-color: #45e689;
            @include adaptiv-value('border-radius', 11, 7);
            font-family: 'Raleway', sans-serif;
            font-weight: medium;
            font-size: 1.5rem;
            touch-action: manipulation;
            border: 2px solid #45e689;

            &:hover {
                border: 2px solid #27AE60;
            }
        }
    }
}