@import "adaptive property.scss";

.footer {
    background-color: #161819;
    color: #F4F5F7;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

.footer__ {
    &left-right {
        @include adaptiv-value('margin-top', 50, 25);
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: stretch;

    }
    @media screen and (max-width: 700px) {
        &left-right {
            display: block;
        }

        &left {
            @include adaptiv-value('margin-bottom', 50, 25);
        }
    }
    &left {
        flex: 0 1 50%;
    }
    &right {
        flex: 0 1 50%;
    }

    &item-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        @include adaptiv-value('margin-bottom', 20, 10);
        @include adaptiv-value('padding-bottom', 20, 10);
        font-weight: bold;
        position: relative;
        display: inline-block;

        &._anim-item {
            &::after {
                width: 0;
                transition: width .3s ease-in-out .2s;
            }
        }
        &._anim-active {
            &::after {
                @include adaptiv-value('width', 100, 60);
            }
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            @include adaptiv-value('left', 3, 2);
            @include adaptiv-value('height', 3, 2);
            background-color: #e7d35e;
            border-radius: .3em;
        }
    }

    &title {
        @include adaptiv-value('margin-top', 50, 25);
    }

    &line {
        text-align: center;
        @include adaptiv-value('margin-bottom', 40, 15);

        & div {
            display: inline-block;
            border-radius: .3em;
            height: 1.5px;
            @include adaptiv-value('width', 100, 20);
            background-color: #F4F5F7;
        }
    }

    &link {
        color: #5ec5e7;
        position: relative;
        
        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            left: 50%;
            bottom: -5px;
            width: 0;
            @include adaptiv-value('height', 3, 1);
            background-color: #E7805E;
            opacity: 0;
            transition: bottom  .15s ease,
                        left    .3s  ease,
                        width   .3s  ease,
                        opacity .15s ease;
        }
        &:hover::after {
            left: 0 !important;
            bottom: 0 !important;
            width: 100% !important;
            opacity: 1 !important;
        } 
    }
    &links &link {
        color: #F4F5F7;
    }
    &links {
        @include adaptiv-value('margin-bottom', 30, 20);
        & div:not(:first-child) {
            @include adaptiv-value('margin-bottom', 20, 10);
        }
    }

    &yiotro-desc {
        margin-bottom: 20px;
        line-height: initial;
    }

    &yiotro {
        font-family: 'Comfortaa', cursive;
        font-weight: bold;

        &-container {
            @include adaptiv-value('margin-top', 50, 15);
            @include adaptiv-value('margin-bottom', 30, 10);
            text-align: right;
        }
    }
}

/*
        font-family: 'Comfortaa', cursive;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Raleway', sans-serif;
        font-family: 'Syne Mono', monospace;
*/